@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Chakra+Petch:wght@700&display=swap");

:root {
  --font-heading: "Chakra Petch", sans-serif;
  --font-mono: "Share Tech Mono", monospace;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-heading);
  background-color: var(--background);
  color: var(--foreground);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: calc(400px * 8);
  animation: marquee 40s linear infinite;
}

.font-mono {
  font-family: var(--font-mono);
  font-weight: 400; /* obligatoire pour Share Tech Mono */
}
